body {
    text-align: center;
    background-color: #FFF;
    margin: auto;
    font-size: 15px;
    width: 540px;

}

h1 {

    font-family: 'Dosis', sans-serif;
    color: #3F3D56;
    font-weight: 500;
    margin: 0 auto 16px;
    line-height: normal;
}

h1 span {
    color: #EE24FF;
    font-weight: bold;
    font-size: 32px;

}

#main {
    padding: 64px 0 64px;
}

#main img {
    margin: 64px auto 32px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #828282;
    margin: auto;
    line-height: 22px;
}

p span {
    color: #3F3D56;
    font-weight: bold;

}

p+p {
    margin: 32px auto 64px;
}

#line {
    border: 1px solid #ECEFF2;
    width: 391px;
    margin: 0 auto 16px;
}

footer {

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 145px;


}

footer a {
    color: #3F3D56;
    text-decoration: none;
}

footer a+a {

    margin-left: 28px;


}

footer img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 104px;
    object-fit: cover;
    margin-top: 41px;

}